.tile-clickbox {
  height: 30px;
  width: 30px;
  padding: 2px;
}

.tile {
  height: 100%;
  width: 100%;
}

.tile-open {
  background-color: rgb(215, 215, 215);
}

.tile-open.tile-mine {
  background-color: red;
}

.tile-unopen {
  background-color: rgb(150, 150, 150);
}

.tile-flagged {
  background-color: green;
}

.tile-overflagged {
  background-color: rgba(255, 0, 0, .5);
}

.board-row {
  display: flex;
  flex-flow: row;
}

.tile-clickbox-clickable:hover {
  cursor: pointer;
  opacity: .75;
}

.tile-label {
  margin: 0;
}

.unselectable {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}